

<%= simple_form_for [course, :final_project, reply] do |f| %>
  <% if @course.owner?(current_user) %>
    <%= f.input :teacher_comment, input_html: { style: "width: 641px" } %>
    <%= f.input :status, collection: Reply.statuses, input_html: { style: "width: 641px" } %>
  <% else %>
    <h6 class="my-3"><%= t('reply.all_replies') %></h6>
    <%= f.input :user_reply, input_html: { style: "width: 641px" } %>
    <%= f.file_field :files, multiple: true, class: "my-3" %>
  <% end %>
  <p><%= f.button :submit, t('buttons.create'), class: "btn btn-outline-primary mt-3" %></p>
<% end %>
