<h2><%= t('edit.edit') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "#{t('edit.no_change')}",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "#{t('edit.confirm_change')}",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "#{t('edit.update')}" %>
  </div>
<% end %>

<h3><%= t('edit.destroy_acc') %></h3>

<p><%= link_to "#{t('edit.destroy_acc')}", registration_path(resource_name), data: { confirm: "#{t('edit.warning')}" }, method: :delete %></p>

<%= link_to "#{t('buttons.back')}", :back %>
