<h1><%= t('lessons.lesson_create') %></h1>

<%= simple_form_for [@course, @lesson] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :youtube_video_id %>
  <%= f.input :order_factor %>

  <div class="btn btn-outline-primary mt-3">
    <%= f.button :submit, t('buttons.create') %>
  </div>
<% end %>