<h1>Создать лекцию</h1>

<%= simple_form_for [@course,@lesson] do |f| %>
	<%= f.input :title %>
	<%= f.input :content %>
	<%= f.input :youtube_video_id %>
	<%= f.input :order_factor %>

	<div class="btn btn-outline-primary mt-3">
		<%= f.button :submit, "Создать" %>
	</div>
<% end %>