<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb" class="mt-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to t('courses.breadcrumb.home'), root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "#{@course.name}", promo_course_path(@course) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= t('courses.breadcrumb.lessons') %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-10">
    <%= @lesson.title %>
    <p><%= @lesson.content %></p>
  </div>
  <div class="col-2">
    <h5><%= t('lessons.lesson_list') %></h5>
    <% @course.lessons.order_by_factor.each do |lesson| %>
      <div class="list-group">
        <% css_class = current_page?(course_lesson_path(@course, lesson)) ? "active" : "" %>
        <%= link_to "#{t('lessons.lesson_num')} #{lesson.id}", course_lesson_path(@course, lesson), class: "list-group-item list-group-item-action my-1 #{css_class}" %>
      </div>
    <% end %>
  </div>
</div>

<% if @lesson.files.attached? %>
  <h6> <%= I18n.t('lessons.label.label_name') %> </h6>
  <% @lesson.files.each do |file| %>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= link_to file.filename, rails_blob_path(file, disposition: :attachment), class: '' %>
        </div>
        <div class="col">
          <% if @course.owner?(current_user) %>
            <%= link_to "#{I18n.t 'attachment.remove'}", attachment_path(file.id), method: :delete, data: { confirm: I18n.t('attentions.really_delete') } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<p class="card-text mt-3">
  <% if @course.owner?(current_user) %>
    <%= link_to t('lessons.lesson_edit'), edit_course_lesson_path(@course, @lesson), class: 'btn btn-outline-primary' %>
    <%= link_to t('lessons.lesson_create'), new_course_lesson_path(@course), class: 'btn btn-outline-primary' %>
  <% end %>
</p>

<%= render partial: 'comments/comments', locals: { resource: @lesson } %>
<%= render partial: 'comments/form', locals: { resources: [@course, @lesson] } %>
