<h2 class="text-center my-4"><%= t('courses.index.head') %></h2>

<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @courses.each do |course| %>
          <div class="col mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4">
                  <%= course.name %>
                </h5>
                <h6 class="card-title my-2"><%= t('courses.index.short_description') %>
                  :</h6> <%= course.short_description %>
                <h6 class="card-title my-2"><%= t('courses.index.author') %>:</h6> <%= course.author.first_name %>
                <h6 class="card-title my-2"><%= t('courses.index.status') %>:</h6> <%= course.aasm.human_state %>
                <h6 class="card-title my-2">Likes:</h6> <%= course.likes_count %>
                <p class="card-text mt-3">
                <div class="col-sm"> <%= link_to t('courses.index.detailed'), promo_course_path(course.id), class: 'btn btn-outline-primary' %> </div>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
