<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb" class="mt-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to t('courses.breadcrumb.home'), root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @course.name %></li>
      </ol>
    </nav>
  </div>
</div>

<h1><%= t('courses.promo.head') %> <%= @course.name %></h1>
<% if @course.cover_picture.attached? %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= image_tag rails_storage_proxy_path(@course.cover_picture), height: 100, width: 100 %>
      </div>
      <div class="col">
        <% if @course.owner?(current_user) %>
          <%= link_to "#{I18n.t 'attachment.remove'}", attachment_path(@course.cover_picture.id), method: :delete, data: { confirm: I18n.t('attentions.really_delete') } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% unless @course.youtube_video_id.nil? %>
  <iframe width="640" height="420"
          src="https://www.youtube.com/embed/<%= @course.youtube_video_id %>"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
  </iframe>
<% end %>

<p><strong><%= t('courses.promo.description') %></strong> <%= @course.description %></p>
<p><strong><%= "Количество лекций" %></strong>  <%= @course.lessons.count %></p>
<p><strong><%= t('courses.promo.level') %></strong>  <%= @course.level %></p>
<p class="card-text mt-3">
  <% if @course.owner?(current_user) %>
    <% if @course.lessons.empty? %>
      <%= link_to t('courses.promo.edit_course'), edit_course_path(@course), class: 'btn btn-outline-primary' %>
      <%= link_to t('lessons.lesson_create'), new_course_lesson_path(@course, @lesson), class: 'btn btn-outline-primary' %>
    <% else %>
      <%= link_to t('courses.promo.edit_course'), edit_course_path(@course), class: 'btn btn-outline-primary' %>
      <%= link_to t('lessons.lesson_create'), new_course_lesson_path(@course, @lesson), class: 'btn btn-outline-primary' %>
      <%= link_to t('courses.promo.continue'), start_course_path, class: 'btn btn-outline-primary' %>
      <%= link_to @course.exam ? t('exam.edit_button') : t('exam.create_button'), new_course_exam_path(@course), class: 'btn btn-outline-primary' %>
    <% end %>
  <% else %>
    <% if @course.enrolled_in_course?(current_user) %>
      <%= link_to t('courses.promo.continue'), start_course_path, class: 'btn btn-outline-primary' %>
    <% else %>
      <%= link_to t('courses.promo.create_order'), order_course_path(@course), method: :post, class: 'btn btn-outline-primary' %>
    <% end %>
  <% end %>
</p>

<%= render partial: 'feedbacks/feedbacks', locals: { resource: @course } %>

<% if @feedback %>
  <%= link_to t('buttons.edit'), edit_course_feedback_path(@course, @feedback), class: 'btn btn-outline-primary' %>
<% elsif @course.owner?(current_user) || @course.enrolled_in_course?(current_user) %>
  <%= render partial: 'feedbacks/form', locals: { resource: [@course] } %>
<% end %>
<%= render partial: 'comments/comments', locals: { resource: @course } %>
<%= render partial: 'comments/form', locals: { resources: [@course] } %>
