<div class='nested-fields'>
  <%= f.input :title %>
  <%= link_to_remove_association "#{I18n.t('question.remove')}", f, class: "btn btn-outline-primary mt-3" %>
  <div class="mx-4">
    <h5 class="mt-3"> <%= I18n.t('answer.head') %></h5>
    <div id='answers'>
      <div class='links'>
        <%= link_to_add_association "#{I18n.t('answer.add')}", f, :answers, class: "btn btn-outline-primary mt-3" %>
      </div>
      <%= f.simple_fields_for :answers do |answer| %>
        <%= render 'answer_fields', :f => answer %>
      <% end %>
    </div>
  </div>
</div>
