<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb" class="mt-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to t('courses.breadcrumb.home'), root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "#{@course.name}", promo_course_path(@course) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "#{t('courses.breadcrumb.lessons')}", course_lesson_path(@course, @course.lessons.last.id) %></li>
        <li class="breadcrumb-item active" aria-current="page">exam</li>
      </ol>
    </nav>
  </div>
</div>

<h1><%= "Welcome to the course exam #{@course.name}" %></h1>
<div><%= "#{t('exam.description')}: #{@course.exam.description} " %></div>
<div><%= "#{t('exam.attempts_number')}: #{@course.exam.attempts_count}" %> </div>
<div><%= "#{t('exam.attempts_time')}: #{@course.exam.attempt_time}" %> </div>

<div class="my-3">
  <%= link_to "#{t('exam.start')}", start_course_exam_path(@course), method: :post, class: 'btn btn-outline-primary' %>
</div>
<% if @examinations.any? %>
  <h4>Ваши попытки</h4>
  <table class="table table-bordered mt-4">
    <thead>
    <tr>
      <th scope="col">Attempt #</th>
      <th scope="col">Username</th>
      <th scope="col">Date of exam</th>
      <th scope="col">Passage time</th>
      <th scope="col">Correct answers</th>
      <th scope="col">Number of questions</th>
      <th scope="col">Percentage passing</th>
      <th scope="col">Result</th>
    </tr>
    </thead>
    <tbody>
    <% @examinations.each_with_index do |examination, i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= current_user.first_name %></td>
        <td><%= examination.created_at.strftime("%Y-%m-%d %T") %></td>
        <td><%= examination.passage_time / 60 %> min</td>
        <td><%= examination.correct_answers %></td>
        <td><%= examination.number_of_questions %></td>
        <td><%= examination.percentage_passing %>%</td>
        <td><%= examination.passed_exam ? "passed" : "not passed" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
